*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

:root {
    --app-red: #f15015;
    --app-blue: #4e97e8;
    --app-green: #92d17e;
    --app-orange: #e9a842;
    --app-yellow: #e3d783;
}

html {
    font-size: 62.5%;
}

/* FONTS */
@font-face {
    font-family: 'Poppins-Bold';
    font-style: bold;
    font-weight: bold;
    src: url('fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    font-style: bold;
    font-weight: bold;
    src: url('fonts/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Light';
    font-style: bold;
    font-weight: bold;
    src: url('fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular';
    font-style: bold;
    font-weight: bold;
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
}

/* CUSTOM */
body {
	background-color: #ececec;
}

.container {
    margin-inline: auto;
    width: min(87%);
}

/* header */
header {
    min-height: 18rem;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* title */
.title__background {
    margin-top: -94px;
    color: rgba(0, 0, 0, 0.15);
    font-family: 'Poppins-Bold';
    font-size: 13rem;
}

.title__foreground {
    color: rgba(0, 0, 0);
    font-family: 'Poppins-ExtraBold';
    font-size: 6rem;
	margin-top: -95px;
}

/* show */
.show-content {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.show {
	padding: 1.6em 1em 1.6em 1em;
    display: flex;
    justify-content: center;
    color: white;
	border-radius: 16px;
	gap: 25px;
	-webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
}

.show--red {
	background-color: var(--app-red);
}

.show--blue {
	background-color: var(--app-blue);
}

.show--green {
	background-color: var(--app-green);
}

.show--orange {
	background-color: var(--app-orange);
}

.show--yellow {
	background-color: var(--app-yellow);
}

.show__date {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 4px;
}

.show__date__month {
    font-family: 'Poppins-Light';
	font-size: 1.4rem;
	margin-top: -4px;
}

.show__date__day {
    font-family: 'Poppins-Regular';
	font-size: 3.2rem;
	margin-top: -10px;
}

.show__info__title, .show__info__time, .show__info__location {
    font-family: 'Poppins-regular';
	font-size: 1.2rem;
}

.show__info__title {
    font-family: 'Poppins-Bold';
	color: white;
	font-size: 1.8rem;
}

/* navigation */
.nav-section {
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-inline: auto;
    width: min(87%);
    padding-bottom: 2em;
}

nav i {
	font-size: 2.6rem;
}

/* TABLET - (Styling exceptions for tablet and larger) */
@media screen and (min-width: 768px) {
}



/* DESKTOP - (Styling exceptions for desktop and larger) */
@media screen and (min-width: 1200px){ 
}