*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

:root {
    --offwhite: #D9D9D9;
    --pink: #E068A4;
    --dark-blue: #040447;
    --dark-pink: #D41467;
    --light-pink: #ffd4ec;
}

html {
    font-size: 62.5%;
}


/* TABLET - (Styling exceptions for tablet and larger) */
@media screen and (min-width: 768px) {
}



/* DESKTOP - (Styling exceptions for desktop and larger) */
@media screen and (min-width: 1200px){ 
}