*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

:root {
    --app-red: #f15015;
    --app-blue: #4e97e8;
    --app-green: #92d17e;
    --app-orange: #e9a842;
    --app-yellow: #e3d783;
}

html {
    font-size: 62.5%;
}

/* FONTS */
@font-face {
    font-family: 'Poppins-Bold';
    font-style: bold;
    font-weight: bold;
    src: url('fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    font-style: bold;
    font-weight: bold;
    src: url('fonts/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Light';
    font-style: bold;
    font-weight: bold;
    src: url('fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular';
    font-style: bold;
    font-weight: bold;
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
}

/* CUSTOM */
body {
	background-color: #ececec;
}

.container {
    margin-inline: auto;
    width: min(87%);
}

/* header */
header {
	min-height: 20rem;
	text-align: center;
	overflow: hidden;    
	display: flex;
    justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* title */
.title__background {
	margin-top: -114px;
    color: rgba(0, 0, 0, 0.15);
    font-family: 'Poppins-Bold';
    font-size: 13rem;
}

.title__foreground {
    color: rgba(0, 0, 0);
    font-family: 'Poppins-ExtraBold';
    font-size: 6rem;
	margin-top: -95px;
}

/* show */
.show {
	padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
	border-radius: 10px;
}

.show--red {
	background-color: var(--app-red);
}

.show__date {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.show__date__month {
    font-family: 'Poppins-Light';
	font-size: 2rem;
}

.show__date__day {
    font-family: 'Poppins-Regular';
	font-size: 4.5rem;
	margin-top: -15px;
}

/* TABLET - (Styling exceptions for tablet and larger) */
@media screen and (min-width: 768px) {
}



/* DESKTOP - (Styling exceptions for desktop and larger) */
@media screen and (min-width: 1200px){ 
}